@import url("https://assets.rockarch.org/v2.0.9/main.min.css");

#main {
  grid-column: 2 / span 10;
  margin-bottom: 30px;
}

.home-search__wrapper {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.home-search__form {
  width: 60%;
}

.viewer {
  width: 90%;
}

.full-height {
  height: 100vh;
}

.item-page__header {
  grid-column-start: 1;
  grid-column-end: span 12;
}

.item-page__viewer {
  grid-column-start: 1;
  grid-column-end: span 9;
}

.item-page__more-info {
  grid-column-start: 10;
  grid-column-end: span 3;
}

.result__wrapper {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.pagination__list {
  display: flex;
  align-items: center;
}